body {
  background-color: #eaeaea;
}

.admin-section {
  display: flex;
  justify-content: space-between;
}

.contenedor-boton-agregar {
  width: 40vw;
  margin: 5% 5% 0 auto;
}

.agregar-producto {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #23ce6b;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  height: 100%;
  color: #fff2dd;
  border: none;
  cursor: pointer;
}
.agregar-producto i {
  margin-right: 10px;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {
    
  } */

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .contenedor-boton-agregar {
    height: 8vh;
    width: 30%;
    margin: 5% 5% 0 auto;
  }
}

/* Large devices (laptops/desktops, 992px and up)
  @media only screen and (min-width: 992px) {...}
  
   Extra large devices (large laptops and desktops, 1200px and up) */
/*  @media only screen and (min-width: 1200px) {...}*/
