body {
  background: linear-gradient(#23ce6b, black);
  display: flex;
  flex-direction: column;
  color: white;
  /* height: 100vh; */
}

figure {
  width: 100%;
  color: white;
  text-align: center;
  font-size: 0.8em;
}

figure img {
  width: 40%;
}

.productos-container {
  display: flex;
  justify-content: center;
}

.box-producto {
  display: inline-block;
  width: 90%;
  background-color: black;
  border: 4px solid #23ce6b;
  border-radius: 25px;
  padding: 10px;
  margin: 20px 0;
  box-shadow: 0px 0px 10px rgb(255, 255, 255);
}

.box-producto figcaption {
  margin: 3%;
  color: #f7b32b;
}

.box-producto span a {
  color: white;
  text-decoration: none;
  display: block;
  margin-top: 2px;
}
.box-producto p {
  margin: 2vh 0;
  color: white;
}

/* para el detalles de admin*/
.contenedor-boton-atras {
  width: 40vw;
  margin-top: 5%;
  margin-left: 3%;
}

.regresar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #124d92;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  height: 100%;
  color: #fff2dd;
  border: none;
  cursor: pointer;
}
.regresar i {
  margin-right: 10px;
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body{
    background-color: black;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #novasec{
    display: block;
  }
  body{
    background-color: black;
  }
}