body {
  background: linear-gradient(#23ce6b, black);
  display: flex;
  flex-direction: column;
  color: white;
  /* height: 100vh; */
}

/* main {
  flex-grow: 1;
} */

.banner-index img {
  width: 100%;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2%;
  margin-bottom: 5%;
}
/* h2 {
  color: white;
} */

a {
  color: white;
}

.texto-categorias {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 3% 0;
}
.texto-categorias h2 {
  width: 50%;
}

.links-categorias {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

li {
  list-style-type: none;
}

figure {
  width: 100%;
  color: white;
  text-align: center;
  font-size: 0.8em;
}

figure img {
  width: 90%;
}

.filtros-destacados {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.boton-filtro {
  width: 22%;
  color: white;
  text-align: center;
  font-size: 0.7em;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  padding: 2%;
  text-decoration: none;
}

.barra-busqueda {
  width: 60vw;
  display: block;
  margin: auto;
  border: 2px solid #23ce6b;
  border-radius: 5px;
}

.productos-container {
  display: flex;
  justify-content: space-around;
}

.box-producto {
  display: inline-block;
  width: 45%;
  vertical-align: top;
  background-color: #c63185;
  border: 4px solid #23ce6b;
  border-radius: 25px;
  padding: 3px;
  margin: 2%;
}

.box-producto a {
  text-decoration: none;
}

/* .box-producto figcaption {
  height: 7vh;
} */

.box-producto figcaption span {
  color: #f7b32b;
  font-weight: bold;
  text-shadow: 1px 1px 7px black;
}

#VerMas {
  display: flex;
  justify-content: flex-end;
  color: black;
  padding-top: 10px;
}

#novasec {
  display: none;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .box-producto {
    width: 23%;
    margin: 5px;
  }
  .banner-index img{
    height: 26vh;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  section {
    margin-bottom: 2%;
  }
  .texto-categorias{
    width: 90%;
    margin: 0;
  }
  figure{
    width: 90%;
    font-size: 1em
  }
  .barra-busqueda{
    width: 40vw;
  }
  .box-producto {
    width: 20%;
  }
  .links-categorias {
    width: 85%;
  }
  .filtros-destacados {
    width: 85%;
  }
}

/*Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .box-producto {
    width: 15%;
  }
  .banner-index img{
    height: 30vh;
}
}