body {
  background: linear-gradient(#23ce6b, black);
  display: flex;
  flex-direction: column;
  color: white;
  /* height: 100vh; */
}

.banner-index img {
  width: 100%;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2%;
  margin-bottom: 5%;
}
/* h2 {
    color: white;
  } */

a {
  color: white;
}

figure {
  width: 100%;
  color: white;
  text-align: center;
  font-size: 0.8em;
}

figure img {
  width: 85%;
  border-radius: 5px;
}

.productos-container {
  display: flex;
  justify-content: space-around;
}

.box-producto {
  display: inline-block;
  width: 45%;
  vertical-align: top;
  background-color: #c63185;
  border: 4px solid #23ce6b;
  border-radius: 25px;
  padding: 3px;
  margin: 2%;
}

.box-producto a {
  text-decoration: none;
}

.box-producto figcaption {
  height: 7vh;
}

.box-producto figcaption span {
  color: #f7b32b;
  font-weight: bold;
  text-shadow: 1px 1px 7px black;
}

#VerMas {
  display: flex;
  justify-content: flex-end;
  color: black;
  padding-top: 10px;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .box-producto{
        width: 25%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .box-producto{
        width: 20%;
    }
}

/* Large devices (laptops/desktops, 992px and up)
    @media only screen and (min-width: 992px) {...}
    
     Extra large devices (large laptops and desktops, 1200px and up) 
    @media only screen and (min-width: 1200px) {...} */
