body {
  background: #575a5e;
  /* background: linear-gradient(#23ce6b, black); */
  color: white;
}

/* .logo-letras{
  display: flex;
  justify-content: center;
}
.logo-letras img {
  width: 40%;
} */

.encabezado {
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 20px;
  margin-bottom: 7vh;
}

.contenedor {
  display: flex;
  justify-content: center;
}

.section-datos {
  /* border: white solid 1px; */
  border-radius: 15px;
  width: 70%;
  padding: 3%;
  margin-top: 5vh;
  margin-bottom: 7vh;
  box-shadow: 0px 0px 10px rgb(34, 40, 35);
  background: #F4F7F5;
  color: black;
  /* background: linear-gradient(#23ce6b, black); */
}

.celda {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-content: center;
  margin: auto;
  margin-bottom: 1vh;
  border-radius: 5px;
  padding: 5px;
  /* border-color: #124d92; */
}

.boton-loguearse {
  margin: auto;
  display: block;
  background-color: #124d92;
  color: #fff2dd;
  border-radius: 5px;
  padding: 5px;
  width: 80%;
}

.boton-loguearse:hover {
  box-shadow: 0px 0px 10px rgb(147, 147, 147);
}

a:visited {
  color: inherit;
}

.olvido {
  display: flex;
  justify-content: center;
  padding-bottom: 3vh;
}

.olvido a {
  font-weight: 100;
  font-style: italic;
}

.recordarme {
  display: flex;
  justify-content: center;
  margin-bottom: 3vh;
}

.opcion-registro {
  display: flex;
  justify-content: center;
  padding: 1vh;
}

.opcion-registro p {
  margin-right: 2vw;
}

.logo-disco {
  display: flex;
  justify-content: center;
  margin-bottom: 8vh;
}

.logo-disco img {
  width: 30%;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  main {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)),
      url(/img/background/vinyls-img-black.png);
    background-repeat: repeat;
    background-size: 350px;
    /* background-position: center; */
  }
  .section-datos{
    width: 52%;
  }
  .logo-disco img {
    width: 20%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .logo-disco img {
    width: 15%;
  }
}
