body {
  background: linear-gradient(#23ce6b, black);
  color: white;
}

.titulo-registrarme {
  display: flex;
  justify-content: center;
  padding: 1%;
}

.log-o-registro {
  display: flex;
  justify-content: center;
  /* border: #939393  solid 1px; */
}

.login-opcion {
  width: 50%;
  text-align: center;
}

.registro-opcion {
  width: 50%;
  text-align: center;
  border-bottom: 2px solid #f7b32b;
}

.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-datos {
  border: white solid 1px;
  border-radius: 15px;
  width: 70%;
  padding: 2%;
  margin: 10%;
  box-shadow: 0px 0px 10px rgb(255, 255, 255);
}

.celda {
  display: flex;
  flex-wrap: wrap;
  width: 45%;
  justify-content: center;
}

.datos-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2vh;
}

.boton-crear {
  margin: auto;
  display: block;
  background-color: #124d92;
  color: #fff2dd;
  border-radius: 5px;
  padding: 5px;
}

.boton-crear:hover {
  box-shadow: 0px 0px 10px rgb(147, 147, 147);
}

a:visited {
  color: inherit;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
 
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #novasec{
    display: block;
  }
}