<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/detalles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Detalles de producto</title>
  </head>
  <body>
    <%- include('../partials/header') %>
    <section class="productos-container">
      <figure class="box-producto">
        <img
          src="/img/products/radiohead-pablohoney.jpg"
          alt="radiohead-pablohoney"
        />
        <figcaption>
          <h3>Radiohead - Pablo Honey</h3>
          <span>$38700</span>
          <span
            ><a href="/user/carrito"
              ><i class="fa-solid fa-cart-arrow-down"></i> Agregar al carrito</a
            ></span
          >
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt,
            tempore! Voluptate, id dolor incidunt sunt ab exercitationem
            consequatur impedit ex dolorum unde velit numquam tempore odit animi
            soluta! Cumque, illo.
          </p>
        </figcaption>
      </figure>
    </section>
    <%- include('../partials/footer') %>
  </body>
</html>
