<!-- views/partials/header.ejs -->
<header>
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="stylesheet" href="/css/header.css" />
  <nav class="nav-bar">
    <i class="fa-solid fa-bars"></i>
    <div class="logo">
      <a href="/"><img src="/img/vv-blanco.png" alt="Vindicator Vinyls" /></a>
    </div>
    <% if (user) { %> <% if (user.rol=='admin' ) { %>

    <div class="nav-iconos">
      <a href="/admin">Administrar</a>
      <% } %>
      <p>Hola, <a href="/user/perfil"><%=user.name %></a>!</p>
      <a href="user/logout"><i class="fa-solid fa-right-from-bracket"></i></a>
    </div>
    <% } else { %>
    <div class="nav-iconos">
      <a href="/user/login"><i class="fa-regular fa-user"></i></a>
    </div>
    <% } %>
  </nav>
</header>
