<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Agregar Producto</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/agregarProducto.css" />

  </head>
  <body>
    <%- include('../partials/header') %>
    <div class="titulo-agregar">
      <h1>Agregar Producto</h1>
    </div>
    <section class="admin-section">
      
      <div class="contenedor-form">
        <div class="imagenesCargadas">
          <img src="../img/template.jpg" alt="imagenesCargadas" />
        </div>

        <form class="formCargarDatos" action="/admin/agregarProducto" method="POST" enctype="multipart/form-data">
          <label for="disco">Título del disco:</label><br />
          <input type="text" id="disco" name="disco" required /><br />
         
          <label for="artista">Artista:</label><br />
          <input type="text" id="artista" name="artista" required /><br />
         
          <label for="genero">Género/s (separar con comas):</label><br />
          <input type="text" id="genero" name="genero" required /><br />
          
          <label for="precio">Precio:</label><br />
          <input type="number" id="precio" name="precio" required /><br />
         
          <label for="anio">Fecha de publicación original:</label><br />
          <input type="date" id="anio" name="anio" required /><br />
         
          <label for="descripcion">Descripción:</label><br />
          <textarea id="descripcion" name="descripcion"></textarea><br />
          
          <label for="stock">Stock disponible:</label><br />
          <input type="number" id="stock" name="stock" required /><br />
         
          <label for="tracklist">Lista de Canciones</label><br />
          <textarea name="tracklist" id="tracklist" required></textarea><br />

          <label for="discográfica">Discográfica</label><br />
          <input type="text" id="discográfica" name="discográfica" required><br />
          <input type="file" name="imagen" id="imagen" required /><br />
        
          <input type="submit" value="Agregar producto" /><br />
        </form>
      </div>
    </section>
    <div class="contenedor-boton-atras">
      <a href="/admin">
        <button class="regresar">
          <i class="fa-solid fa-arrow-left"></i>Volver atrás
        </button>
      </a>
    </div>
    <%- include('../partials/footer') %>
  </body>
</html>
