<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vindicator Vinyls</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/carrito.css" />
  </head>

  <body>
    <%- include('../partials/header') %>
    <main>
      <div class="banner-index">
        <img src="/img/tiendita vinilos.png" alt="tienda de vinilos" />
      </div>

      <div class="titulo-carrito">
        <h2>Carrito de Compras</h2>
      </div>
      <section class="section-carrito">
        <ul class="productos-carrito">
          <li>
            <figure class="box-producto">
                <img
                  src="/img/products/radiohead-pablohoney.jpg"
                  alt="radiohead-pablohoney"
                />
                <figcaption>
                  <h3>Radiohead - Pablo Honey</h3>
                  <span>$ 38700</span>
                  <span id="cantidad-pedido">x1</span>
                </figcaption>
            </figure>
          </li>
        </ul>
      </section>
      <section class="calculo-carrito">
        <span>Subtotal</span>
        <span>Envío</span>
        <span>Total</span>
      </section>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
